<main id="main" style="margin-top: 4pc;">

    <!-- ======= About Section ======= -->
    <!-- <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Book a Table</h4>
              <p>+1 5589 55488 55</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
              </p>

              <div class="position-relative mt-4">
                <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End About Section -->
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>About Us</h2>
                <p>Learn More <span>About HandyMan</span></p>
            </div>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="assets/img/chefs/ankit.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ankit Pote</h4>
                            <span>Founder & Creator</span>
                            <p>I'm a skilled full stack developer, and I've been honing my craft for over 2 years.
                                Currently, I'm proudly contributing my expertise to the dynamic team at T-Systems. With
                                a passion for innovation and problem-solving, I thrive in the ever-evolving world of
                                technology.</p>
                        </div>
                    </div>
                </div><!-- End Chefs Member -->
                <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="content ps-0 ps-lg-5" style="font-size: medium;">
                        <p>
                            Handiman Company is a prominent and innovative technology platform that offers an extensive
                            array of top-notch services designed to cater to various needs at the comfort of customers'
                            homes. Our platform serves as a convenient and user-friendly hub, allowing customers to
                            effortlessly book a wide range of services, including but not limited to beauty treatments,
                            haircuts, massage therapy, cleaning, plumbing, carpentry, appliance repair, painting, and
                            many others. We take immense pride in providing our valued customers with unparalleled
                            convenience and flexibility, as they can effortlessly schedule services at a time that suits
                            their busy lifestyles, eliminating any hassles or inconveniences.
                        </p>
                        <p>
                            A hallmark of our commitment to excellence is our unwavering dedication to ensuring that
                            each and every customer receives a high-quality, standardized, and reliable service
                            experience. To achieve this, we have meticulously handpicked a network of exceptionally
                            skilled and passionate service partners who share our vision of delivering excellence in
                            every interaction. Through a robust and mutually beneficial partnership, we empower our
                            service partners with cutting-edge technology, comprehensive training programs,
                            premium-grade products, specialized tools, and all the necessary resources they need to
                            thrive in their respective fields.
                        </p>
                        <br><br><br>
                        <div class="mb-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.0619016031233!2d73.77103417596382!3d18.57124778253218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c080dbb1e575%3A0x31475ab2975faaeb!2sT-Systems%20ICT%20India%20Pvt%20Ltd!5e0!3m2!1sen!2sus!4v1691352718149!5m2!1sen!2sus" width="800" height="310" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </div>
                    </div>
                    
                </div>

            </div>

        </div>
    </section><!-- End Chefs Section -->
</main>