<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>HandyMan<span>.</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a routerLink="about">About Us</a></li>
        <!-- <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li> -->
        <!-- <li><a routerLink="login">Gallery</a></li> -->
        <li class="dropdown" *ngIf="role == 'ROLE_ADMIN'">
          <a
            ><span>Admin Controller</span>
            <i class="bi bi-chevron-down dropdown-indicator"></i
          ></a>
          <ul>
            <!-- <li class="dropdown">
              <a href="#"
                ><span>Deep Drop Down</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li> -->
            <li><a (click)="onboardCity()">Onboard City</a></li>
            <li><a (click)="onboardService()">Onboard Service</a></li>
            <li><a (click)="unapprovedUsers()">Unapproved Handimans</a></li>
          </ul>
        </li>
        <li><a href="#about">Contact</a></li>
      </ul>
    </nav>
    <!-- .navbar -->
    <div
      style="display: flex; justify-content: flex-end"
      *ngIf="showLogginButton"
    >
      <a class="btn-book-a-table" routerLink="register">Register</a>
      <a class="btn-book-a-table" routerLink="login">Login</a>
    </div>
    <div *ngIf="!showLogginButton">
      <a routerLink="profile" style="color: #000"
        ><b class="bi bi-person fs-6">{{ userName }}</b></a
      >
      <a class="btn-book-a-table" (click)="logout()">Logout</a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
<!-- End Header -->

<main id="main">
  <router-outlet></router-outlet>
</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>Address</h4>
          <p>
            Handymans Ict.<br />
            baner, Pune 53111 - India<br />
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Contact</h4>
          <p>
            <strong>Phone:</strong> +91 9637717549<br />
            <strong>Email:</strong> ankitpote1@gmail.com<br />
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>Mon-Sat: 11AM</strong> - 23PM<br />
            Sunday: Closed
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a
            href="https://twitter.com/AnkitPote"
            target="_blank"
            class="twitter"
            ><i class="bi bi-twitter"></i
          ></a>
          <a
            href="https://www.facebook.com/ankit.pote.56/"
            target="_blank"
            class="facebook"
            ><i class="bi bi-facebook"></i
          ></a>
          <a href="https://www.instagram.com/" target="_blank" class="instagram"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            href="http://www.linkedin.com/in/ankit-pote"
            target="_blank"
            class="linkedin"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Handimans Ict.</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
      Designed by <a href="https://bootstrapmade.com/">Handimans Ict.</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
